*,
*::before,
*::after{
	box-sizing: border-box;
	border: 1px solid red;
}

body{
	margin: 0;
	background-color: #f7f7f7
}

ul{
	padding: 0;
	margin: 0;
}


html{
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Kaushan Script', cursive;
}

ul {
	list-style: none;
}
section{
	padding: 40px 0;
}

.overlay{
	min-height: 100vh;
	max-width: 1200px; /*nurodome maksimalu ploti*/
	margin: 0 auto; /*centruojame*/
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-content: center;
	position: relative; /*pasidarem sita*/
}
.first-page {
	background-image: url("../images/first-background.jpg");
	background-size: cover;
	background-position: center;
	padding: 0;
	min-height: 100vh;
}

.flex-container{
	display: flex;
	justify-content: space-around;
}
/*Kodel navigacijos meniu susitraukia i kaire puse kai padarai fixed ? */
.container {
	max-width: 1200px;
	margin: 0 auto;
}
.top-nav > .container {
	justify-content: space-between;	
}

.top-nav {
	position: fixed;
	align-items: center;
	border-bottom: 1px solid #b6261b;
	width: 100%; 
	top: 0;
	background-color: rgba(189, 193, 190, .5);
	z-index: 1;
}
.flex-container li a {
	text-decoration: none;
	color: white;
	font-family: 'Open Sans';
	padding-left:15px;
	padding-right:15px;
	color: #b6261b;
	font-weight: 700;
}
.flex-container li a:hover{
	color: red;
}
.logo a {
	text-decoration: none;
	color: white;
	font-family: 'Kaushan Script';
	color: #b6261b;
}
.logo a:hover{
	color: red;
}

h1 {
	font-size: 6.5625em;
	color: #b6261b;
	font-family: 'Kaushan Script';
	text-transform: uppercase;
	margin: 0;
	text-align: center;
	align-content: center;
}
.middle-content h2 {
	font-size: 2.375em;
	color: white;
	font-family: 'Open Sans';
	margin: 0;
	align-content: center;
	font-weight: 700;
}
.first-page p {
	color: #b6261b;	
	font-family: 'Open Sans';
	font-size: 1.4em;
	font-weight: 700;
	background-color: rgba(189, 193, 190, .5);
	max-width: 25%;
	text-align: center;
}

.overlay > section.container.flex-container{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	resize: vertical;
	overflow: auto;
	margin: 0 auto;
	align-items: center;
}

.inner{

	margin: 0 auto;
	max-width: 1200px
}

.overlay{
	justify-content: flex-end;
}

/*antras puslapis*/
.second-page{
	min-height: 100vh;
	padding: 5px;
	border-bottom: 1px solid #b6261b;
}
.page-name p{
	padding: 5px;
}
.top-info{
	display: flex;
}

.top-info p{
	padding: 5px;
}

.second-page > .overlay {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
p {
	font-family: 'Open Sans';
	line-height: 1.5;
	text-align: justify;
	color: #75737e;
}

.page-name p span{
	font-family: 'Kaushan Script';
	color: #b6261b;
}

.mision,
.vision{
	margin: 15px;
}

.vertybiu-list{
	display: flex;
	justify-content: space-around;
}
.vert_sarasas {
	width: 30%;
	margin: 5px;
	text-align: center;
}
.teamwork p,
.client p,
.inovation p {
	text-align: center;
	color: black;
	font-weight: 700;
	/*background-color: rgba(189, 193, 190, .5);*/
}

.team {
	display: flex;
	background: url("../images/team.jpg") ;
	/*background-size: cover;
	background-position: center;
	padding: 0;*/
}


.clnt {
	display: flex;
	background: url("../images/client.jpg");
	/*background-size: cover;
	background-position: center;
	padding: 0;*/
}
.ino {
	display: flex;
	background: url("../images/inovation.jpg");
	/*background-size: cover;
	background-position: center;
	padding: 0;*/
}

.background{
	width: 100%;
	background-color: rgba(189, 193, 190, .5);

}

.team,
.clnt,
.ino {
	background-size: cover;
	background-position: center;
	padding: 0;
}

/*.teamwork,
.client,
.inovation {
	background-color: rgba(189, 193, 190, .5);
}*/
.vertybes,
.vertybiu-list h3{
	color: #b6261b;
	margin: 0;
}

.mid-container h3{
	color: #b6261b;
}

/*Statistika-column*/

.statistika-column {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}

.statistika {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.statistika-column p{
	margin: 0;
}



.statistika-column h2{
	text-align: center;
	color: #b6261b;
}

.statistika-column i{
	font-size: 6.8108rem;
	justify-content: center;
	color: #b6261b;
	margin: 0 auto;
}


/*TRECIAS PUSLAPIS*/

.third-page {
	padding-top: 33px;
}

.third-page>.overlay{
	justify-content: space-between;
}